@use '../../../styles/default_theme/partials/functions/_colors.module.scss' as *;
.root {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: palette("secondary");
}
