$extraSmall: 320px;
$small: 600px;
$medium: 960px;
$large: 1280px;
$extraLarge: 1920px;

$breakpoints: (
	"extraSmall": $extraSmall,
	"small": $small,
	"medium": $medium,
	"large": $large,
	"extra-large": $extraLarge,
);

:export {
	var_breakpoints_extraSmall: $extraSmall;
	var_breakpoints_small: $small;
	var_breakpoints_medium: $medium;
	var_breakpoints_large: $large;
	var_breakpoints_extraLarge: $extraLarge;
}
