$global-margins-unit: rem;
$local-margins-unit: em;

$extraSmall: 1;
$small: 2;
$medium: 5;
$large: 10;
$extraLarge: 20;

$global-margins-extraSmall: $extraSmall + $global-margins-unit;
$global-margins-small: $small + $global-margins-unit;
$global-margins-medium: $medium + $global-margins-unit;
$global-margins-large: $large + $global-margins-unit;
$global-margins-extraLarge: $extraLarge + $global-margins-unit;

$local-margins-extraSmall: $extraSmall + $local-margins-unit;
$local-margins-small: $small + $local-margins-unit;
$local-margins-medium: $medium + $local-margins-unit;
$local-margins-large: $large + $local-margins-unit;
$local-margins-extraLarge: $extraLarge + $local-margins-unit;

$global-margins: (
	"extraSmall": $global-margins-extraSmall,
	"small": $global-margins-small,
	"medium": $global-margins-medium,
	"large": $global-margins-large,
	"extraLarge": $global-margins-extraLarge,
);

$local-margins: (
	"extraSmall": $local-margins-extraSmall,
	"small": $local-margins-small,
	"medium": $local-margins-medium,
	"large": $local-margins-large,
	"extraLarge": $local-margins-extraLarge,
);

:export {
	var_margins_global-margins-extraSmall: $global-margins-extraSmall;
	var_margins_global-margins-small: $global-margins-small;
	var_margins_global-margins-medium: $global-margins-medium;
	var_margins_global-margins-large: $global-margins-large;
	var_margins_global-margins-extraLarge: $global-margins-extraLarge;
	var_margins_local-margins-extraSmall: $local-margins-extraSmall;
	var_margins_local-margins-small: $local-margins-small;
	var_margins_local-margins-medium: $local-margins-medium;
	var_margins_local-margins-large: $local-margins-large;
	var_margins_local-margins-extraLarge: $local-margins-extraLarge;
}
