$global-paddings-unit: rem;
$local-paddings-unit: em;

$extraSmall: 1;
$small: 2;
$medium: 5;
$large: 10;
$extraLarge: 20;

$global-paddings-extraSmall: $extraSmall + $global-paddings-unit;
$global-paddings-small: $small + $global-paddings-unit;
$global-paddings-medium: $medium + $global-paddings-unit;
$global-paddings-large: $large + $global-paddings-unit;
$global-paddings-extraLarge: $extraLarge + $global-paddings-unit;

$local-paddings-extraSmall: $extraSmall + $local-paddings-unit;
$local-paddings-small: $small + $local-paddings-unit;
$local-paddings-medium: $medium + $local-paddings-unit;
$local-paddings-large: $large + $local-paddings-unit;
$local-paddings-extraLarge: $extraLarge + $local-paddings-unit;

$global-paddings: (
	"extraSmall": $global-paddings-extraSmall,
	"small": $global-paddings-small,
	"medium": $global-paddings-medium,
	"large": $global-paddings-large,
	"extraLarge": $global-paddings-extraLarge,
);

$local-paddings: (
	"extraSmall": $local-paddings-extraSmall,
	"small": $local-paddings-small,
	"medium": $local-paddings-medium,
	"large": $local-paddings-large,
	"extraLarge": $local-paddings-extraLarge,
);

:export {
	var_paddings_global-paddings-extraSmall: $global-paddings-extraSmall;
	var_paddings_global-paddings-small: $global-paddings-small;
	var_paddings_global-paddings-medium: $global-paddings-medium;
	var_paddings_global-paddings-large: $global-paddings-large;
	var_paddings_global-paddings-extraLarge: $global-paddings-extraLarge;
	var_paddings_local-paddings-extraSmall: $local-paddings-extraSmall;
	var_paddings_local-paddings-small: $local-paddings-small;
	var_paddings_local-paddings-medium: $local-paddings-medium;
	var_paddings_local-paddings-large: $local-paddings-large;
	var_paddings_local-paddings-extraLarge: $local-paddings-extraLarge;
}
