@use "../variables/_typography.module.scss" as var_typography_;
@use "../functions/_math.module.scss" as func_math_;

@mixin responsive-font-size(
	$multiplier: 1,
	$font-size: var_typography_.$base-font-size,
	$multiplier-factor: var_typography_.$base-scale-ratio
) {
	$unresponsive-font-size: $font-size * func_math_.pow($multiplier-factor, $multiplier);
	$min-max-variance-multiplier: 0.05;
	$min: $unresponsive-font-size * (1 - $min-max-variance-multiplier);
	$max: $unresponsive-font-size * (1 + $min-max-variance-multiplier);
	$responsive-factor: 3vw;
	font-size: clamp(#{$min}, #{$responsive-factor}, #{$max});
	// @debug "----";
	// @debug $multiplier-factor;
	// @debug $min;
	// @debug $responsive-factor;
	// @debug $max;
	// @debug "----";
}
