// Advice: do not use any css imports here.
// Default styles should be encapsulated to each component.
// To expand styles use classes and/or in-line declarations.
.Root {
	padding-top: 2em;
	align-items: flex-end;
	overflow-y: auto;
}

.Logo {
	width: 25%;
	position: relative;
	padding-right: 63%;
	padding-left: 17%;
	padding-bottom: 20px;
	box-sizing: content-box;
}

.Divider {
	background-color: rgba(255, 255, 255, 0.1);
	width: 100%;
}

.MenuDrawer {
	display: contents;
	& * {
		color: white;
	}
}

.Footer {
	display: flex;
}
