// Advice: do not use any css imports here.
// Default styles should be encapsulated to each component.
// To expand styles use classes and/or in-line declarations.
.Root {
	display: contents;
}

.ListItem {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3vw;
	padding-right: 1vw;
}

.ListItem span {
	text-overflow: ellipsis;
}

.ListItemText span:first-letter {
	text-transform: capitalize;
}
