@use '../partials.module.scss' as *;

@each $color-name, $color-value in $var_colors_palette {
	.color-#{$color-name} {
		color: $color-value;
	}
	.color-children-#{$color-name} * {
		color: $color-value;
	}
	.background-color-#{$color-name} {
		background-color: $color-value;
	}
}

p,
a,
span,
small,
textarea {
	color: func_colors_palette("off-black");
}

.react-LoginPage {
	background-color: func_colors_palette("quintenary");
}

button.contained {
	&.primary {
		$palette: func_colors_palette("primary");
		background-color: $palette;
		&:hover,
		:focus {
			background-color: func_colors_lighten-10($palette);
		}
		span {
			color: func_colors_contrast-text(func_colors_darken($palette));
		}
	}
	&.secondary {
		$palette: func_colors_palette("secondary");
		background-color: $palette;
		&:hover,
		:focus {
			background-color: func_colors_lighten-10($palette);
		}
		span {
			color: func_colors_contrast-text(func_colors_darken($palette));
		}
	}
	&.tertiary {
		$palette: func_colors_palette("tertiary");
		background-color: $palette;
		&:hover,
		:focus {
			background-color: func_colors_darken-10($palette);
		}
		span {
			color: func_colors_contrast-text(func_colors_darken($palette));
		}
	}
	&.quaternary {
		$palette: func_colors_palette("quaternary");
		background-color: $palette;
		&:hover,
		:focus {
			background-color: func_colors_lighten-10($palette);
		}
		span {
			color: func_colors_contrast-text(func_colors_darken($palette));
		}
	}
}

.frosted-glass-style-helper {
	min-width: 100vw !important;
	left: unset !important;
	filter: blur(20px) brightness(1.5) saturate(1.5) contrast(0.7)
		drop-shadow(rgb(55, 55, 55) 0px 0px 1px);
}

.small-text-shadow {
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
}

.react-MenuPanel,
.react-MenuBar {
	background: linear-gradient(
		200deg,
		func_colors_palette("quintenary"),
		func_colors_palette("senary")
	);
}

.react-MenuDrawerContents .MuiListItem-root {
	&:hover {
		background: func_colors_darken(func_colors_palette("quintenary"), 3%);
	}
	&:active {
		background: func_colors_palette("primary");
	}
	&.Mui-selected {
		border-right: solid 3px func_colors_palette("primary");
		background: func_colors_darken(func_colors_palette("quintenary"), 3%);
		&:hover {
			background: func_colors_darken(func_colors_palette("quintenary"), 5%);
		}
		&:active {
			background: func_colors_palette("primary");
		}
	}
}

.react-MenuBar .MuiBottomNavigationAction-root {
	border-bottom: solid 3px func_colors_palette("quintenary");
	&:hover {
		background: func_colors_darken(func_colors_palette("quintenary"), 3%);
	}
	&:active {
		background: func_colors_palette("primary");
	}
	&.Mui-selected {
		border-bottom: solid 3px func_colors_palette("primary");
		&:active {
			background: func_colors_palette("primary");
		}
	}
}
