@use '../partials.module.scss' as *;

.padding-global--extraSmall-sides-only {
	padding-left: func_paddings_global-paddings("extraSmall");
	padding-right: func_paddings_global-paddings("extraSmall");
}
.padding-global-small-sides-only {
	padding-left: func_paddings_global-paddings("small");
	padding-right: func_paddings_global-paddings("small");
}
.padding-global-medium-sides-only {
	padding-left: func_paddings_global-paddings("medium");
	padding-right: func_paddings_global-paddings("medium");
}
.padding-global-large-sides-only {
	padding-left: func_paddings_global-paddings("large");
	padding-right: func_paddings_global-paddings("large");
}
.padding-global-extraLarge-sides-only {
	padding-left: func_paddings_global-paddings("extraLarge");
	padding-right: func_paddings_global-paddings("extraLarge");
}
