@use "../partials.module.scss" as *;

// Load font families

@use "./font-face/Assistant.scss" as *;
@use "./font-face/Roboto.scss" as *;

// Base font size

html,
body {
	font-size: $var_typography_root-font-size;
}

p,
a,
span,
small,
textarea {
	font-family: func_typography_fonts("primary");
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: func_typography_fonts("secondary");
}

// Font scaling
h1,
.responsive-font-size-7,
.MuiTypography-h1 {
	@include mix_typography_responsive-font-size(6);
}
h2,
.responsive-font-size-6,
.MuiTypography-h2 {
	@include mix_typography_responsive-font-size(5);
}
h3,
.responsive-font-size-5,
.MuiTypography-h3 {
	@include mix_typography_responsive-font-size(4);
}
h4,
.responsive-font-size-4,
.MuiTypography-h4 {
	@include mix_typography_responsive-font-size(3);
}
h5,
.responsive-font-size-3,
.MuiTypography-h5 {
	@include mix_typography_responsive-font-size(2);
}
h6,
.responsive-font-size-2,
.MuiTypography-h6 {
	@include mix_typography_responsive-font-size(1);
}
p,
a,
span,
.responsive-font-size-1,
.MuiTypography-body1,
.MuiTypography-body2 {
	@include mix_typography_responsive-font-size(0);
}
p.small,
a.small,
.responsive-font-size-negative-1 {
	@include mix_typography_responsive-font-size(-1);
}

.react-Footer * {
	@include mix_typography_responsive-font-size(-1);
}
