// Advice: do not use any css imports here.
// Default styles should be encapsulated to each component.
// To expand styles use classes and/or in-line declarations.
.Root {
	display: flex;
	width: 100%;
	position: sticky;
	bottom: 0;
    z-index:1;
}
