// Advice: do not use any css imports here.
// Default styles should be encapsulated to each component.
// To expand styles use classes and/or in-line declarations.

.root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
}
