// Advice: do not use any css imports here.
// Default styles should be encapsulated to each component.
// To expand styles use classes and/or in-line declarations.
.Root {
	width: 100%;
	justify-content: flex-start;
	padding-left: 50px;
	padding-right: 50px;
	& > * {
		color: white;
		margin: 0;
		padding-right: 5px;
		text-decoration: unset;
	}
	overflow: visible;
}
.separator {
	&:hover {
		color: white;
	}
}
