@use '../../_partial.module.scss' as *;

.react-App > * {
	@include mixin_dimension_height-width-100;
}

.react-Page .react-PageDescription {
	height: max-content;
}

@media (max-width: function_breakpoint_breakpoint("S")) {
	.react-LoginPanel,
	.react-LoginPanel > * {
		width: 100%;
	}
}

@media (min-width: function_breakpoint_breakpoint("L")) {
	.react-Page .react-PageDescription {
		max-width: function_breakpoint_breakpoint("L");
	}
}

@media (min-width: function_breakpoint_breakpoint("S")) {
	.react-FlexPanel {
		min-width: max(10vw, 220px);
	}
}

@media (min-width: function_breakpoint_breakpoint("S")) {
	.react-MenuResponsive {
		height: 100%;
	}
}
