.react-App {
	overflow: auto;
}

.react-Page {
	overflow: visible;
}

.react-DataGrid .MuiDataGrid-viewport {
	overflow: unset;
}

@media (min-width: function_breakpoint_breakpoint("S")) and (hover: hover) {
	.react-MenuResponsive * {
		overflow: hidden;
	}
}
