@use '../../_partial.module.scss' as *;

.react-App > * {
	position: relative;
}

.big-white-text {
	@include mixin_position_horizontal-center;
}

@media (max-width: function_breakpoint_breakpoint("M")) {
	.react-ScriptsPage .react-ActionsPanel {
		bottom: 0px;
	}
}

@media (min-width: function_breakpoint_breakpoint("S")) and (hover: hover) {
	.react-MenuResponsive {
		position: absolute;
	}
}

.react-InvokeOverlay.open .react-InvokeContent {
    right: 0;
}
