@use '../../_partial.module.scss' as *;

.react-App > * {
	z-index: 0;
}

.react-LoginPanel {
	z-index: 0;
}

@media (min-width: function_breakpoint_breakpoint("S")) and (hover: hover) {
	.react-MenuResponsive {
		z-index: 999999;
	}
}

.MuiDataGrid-main {
	z-index: 0;
}
