$primary: #f39200;
$secondary: #373737;
$tertiary: #ffffff;
$quaternary: #000000;
$quintenary: #16253e;
$senary: #472d4c;
$white: hsl(0, 0%, 100%);
$off-white: hsl(180, 4%, 95%);
$black: hsl(0, 0%, 0%);
$off-black: hsl(0, 0%, 5%);
$gray: hsl(0, 0%, 22%);
$light-gray: hsl(36, 8%, 88%);

$palette: (
	"primary": $primary,
	"secondary": $secondary,
	"tertiary": $tertiary,
	"quaternary": $quaternary,
	"quintenary": $quintenary,
	"senary": $senary,
	"white": $white,
	"off-white": $off-white,
	"black": $black,
	"off-black": $off-black,
	"gray": $gray,
	"light-gray": $light-gray,
);

:export {
	variable_color_palette-primary: $primary;
	variable_color_palette-secondary: $secondary;
	variable_color_palette-tertiary: $tertiary;
	variable_color_palette-quaternary: $quaternary;
	variable_color_palette-quintenary: $quintenary;
	variable_color_palette-senary: $senary;
	variable_color_palette-white: $white;
	variable_color_palette-off-white: $off-white;
	variable_color_palette-black: $black;
	variable_color_palette-off-black: $off-black;
	variable_color_palette-gray: $gray;
	variable_color_palette-light-gray: $light-gray;
}
