// Advice: do not use any css imports here.
// Default styles should be encapsulated to each component.
// To expand styles use classes and/or in-line declarations.

.root {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
}
