@keyframes quick-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes quick-fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes smooth-width-increase {
	to {
		min-width: max(10vw, 220px);
	}
}
@keyframes smooth-width-decrease {
	from {
		max-width: max(10vw, 220px);
	}
	to {
		max-width: max(7.5vw, 75px);
	}
}

@mixin quick-fade-in($animation-duration: 0.2s, $animation-timing-function: ease-in-out) {
	animation-duration: $animation-duration;
	animation-timing-function: $animation-timing-function;
	animation-name: quick-fade-in;
}

@mixin quick-fade-out($animation-duration: 0.2s, $animation-timing-function: ease-in-out) {
	animation-duration: $animation-duration;
	animation-timing-function: $animation-timing-function;
	animation-name: quick-fade-out;
}

@mixin smooth-width-increase($animation-duration: 400ms, $animation-timing-function: ease-in-out) {
	animation-duration: $animation-duration;
	animation-timing-function: $animation-timing-function;
	animation-name: smooth-width-increase;
	animation-delay: 100ms;
	animation-fill-mode: forwards;
}

@mixin smooth-width-decrease($animation-duration: 200ms, $animation-timing-function: ease-in-out) {
	animation-duration: $animation-duration;
	animation-timing-function: $animation-timing-function;
	animation-name: smooth-width-decrease;
	animation-delay: 200ms;
	animation-fill-mode: forwards;
}
